name: Rust

on:
  push:
    branches: [ "main", "**"]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Install X11 development headers
      run: sudo apt-get update && sudo apt-get install -y libx11-dev
    - uses: actions/checkout@v4
    - name: Check
      run: cargo check --verbose -j$(nproc)
    - name: Run tests
      run: cargo test --verbose -j$(nproc)
